
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSection</title>
</head>
<body>
    <div>
        <h1>Create New Section</h1>
        <form action="CreateSection" method="post">

            Topic Name : <input type="text" name="NOT"> <br />
            <input type="submit">

        </form>
        <input type="button" value="Go Back" onclick="history.back()">
    </div>
</body>
</html>
