@model Registration.Models.Content
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AD1</title>
</head>
<body>
    <div>
        <h1>Admin Video Preview</h1>
       <video height="480" width="720" controls>  <source src="~/Content/images/@Model.File" type="video/mp4"></video>

      
       

    </div>
</body>
</html>
